<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidarLogin</servlet-name>
        <servlet-class>controlador.ValidarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlHospitalizacion</servlet-name>
        <servlet-class>controlador.CtrlHospitalizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCitas</servlet-name>
        <servlet-class>controlador.CtrlCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlDoctores</servlet-name>
        <servlet-class>controlador.CtrlDoctores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlHistorial</servlet-name>
        <servlet-class>controlador.CtrlHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlTratamiento</servlet-name>
        <servlet-class>controlador.CtrlTratamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>controlador.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHospitalizacion</servlet-name>
        <servlet-class>controlador.EditarHospitalizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTratamiento</servlet-name>
        <servlet-class>controlador.RegistrarTratamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPaciente</servlet-name>
        <servlet-class>controlador.RegistrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarConsulta</servlet-name>
        <servlet-class>controlador.RegistrarConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarDianostico</servlet-name>
        <servlet-class>controlador.RegistrarDianostico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPrescripcion</servlet-name>
        <servlet-class>controlador.EditarPrescripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCita</servlet-name>
        <servlet-class>controlador.RegistrarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSolicitud</servlet-name>
        <servlet-class>controlador.EditarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaCitaPNR</servlet-name>
        <servlet-class>controlador.NuevaCitaPNR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchivarConsulta</servlet-name>
        <servlet-class>controlador.ArchivarConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilSanitario</servlet-name>
        <servlet-class>controlador.PerfilSanitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilPaciente</servlet-name>
        <servlet-class>controlador.PerfilPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSanitario</servlet-name>
        <servlet-class>controlador.RegistrarSanitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarPruebas</servlet-name>
        <servlet-class>controlador.AsignarPruebas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlHorario</servlet-name>
        <servlet-class>controlador.CtrlHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHorario</servlet-name>
        <servlet-class>controlador.EditarHorario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarLogin</servlet-name>
        <url-pattern>/ValidarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlHospitalizacion</servlet-name>
        <url-pattern>/CtrlHospitalizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCitas</servlet-name>
        <url-pattern>/CtrlCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlDoctores</servlet-name>
        <url-pattern>/CtrlDoctores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlHistorial</servlet-name>
        <url-pattern>/CtrlHistorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlTratamiento</servlet-name>
        <url-pattern>/CtrlTratamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHospitalizacion</servlet-name>
        <url-pattern>/EditarHospitalizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTratamiento</servlet-name>
        <url-pattern>/RegistrarTratamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPaciente</servlet-name>
        <url-pattern>/paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarConsulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarDianostico</servlet-name>
        <url-pattern>/dianostico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPrescripcion</servlet-name>
        <url-pattern>/tratamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCita</servlet-name>
        <url-pattern>/RegistrarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSolicitud</servlet-name>
        <url-pattern>/solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaCitaPNR</servlet-name>
        <url-pattern>/nuevacita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchivarConsulta</servlet-name>
        <url-pattern>/archivar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilSanitario</servlet-name>
        <url-pattern>/actualizaperfilsanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilPaciente</servlet-name>
        <url-pattern>/userperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSanitario</servlet-name>
        <url-pattern>/sanitario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarPruebas</servlet-name>
        <url-pattern>/pruebas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlHorario</servlet-name>
        <url-pattern>/Horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHorario</servlet-name>
        <url-pattern>/editarhorario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
